// ||||||||||||||||||||||||||||||||||||||||
// THEME COLORS
// ||||||||||||||||||||||||||||||||||||||||

$text_color: $black
$link_color: rgb(0,255,0)
$background: $white
$theme1: rgb(255,0,0)
$theme2: rgb(255,0,0)
$theme3: rgb(255,0,0)
$theme4: rgb(255,0,0)

$color_set-text_color: ('text_color', $text_color)
$color_set-link_color: ('link_color', $link_color)
$color_set-background: ('background', $background)
$color_set-theme1: ('theme1', $theme1)
$color_set-theme2: ('theme2', $theme2)
$color_set-theme3: ('theme3', $theme3)
$color_set-theme4: ('theme4', $theme4)

$theme_colors: ($color_set-text_color, $color_set-link_color, $color_set-background, $color_set-theme1, $color_set-theme2, $color_set-theme3, $color_set-theme4)


// ||||||||||||||||||||||||||||||||||||||||
// LAYOUT
// ||||||||||||||||||||||||||||||||||||||||

$nav_height: 60px